<div class="row">
  <%- if @category.errors.present? -%>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <%- @category.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <div class="large-12">
    <h1>New Category</h1>

    <%= form_for @category do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Add Category" %>
    <%- end -%>
  </div>
</div>
